<html>
<head>
  <title>Scott and Ellie's Food!</title>
</head>
<body>
<form action="/items" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="hidden" name="id" value="<%= @id %>">
  <input type="text" name="update_name">
  <button type="submit">Submit Item</button>
</form>
</body>
</html>