<html>
<head>
  <title>Scott and Ellie's Food!</title>
</head>
<body>
  <form action="/" method="POST">
    <input type="text" name="item_name">
    <button type="submit">Submit Item</button>
  </form>
</body>
</html>